<div>
    <h1>¡Hola, {{user.name}} {{user.surname}}! ¡Que gusto verte!</h1>
    <p>Tenes {{user.edad}}, tu correo electronico es {{user.correo}} y te puedo llamar al {{user.tel}}</p>
</div>

{{#if isAdmin}}
<ul>
    {{#each foods}}
        <li>{{this.name}} - {{this.price}}</li>
    {{/each}}
</ul>
{{else}}
    <h2>No tenes permisos para acceder a la lista de comidas</h2>
{{/if}}