	<nav class='navbar navbar-expand-lg navbar-light bg-light'>
			<div class='container-fluid'>
				<a class='navbar-brand' href='#'>Mi Perfil</a>
				<button
					class='navbar-toggler'
					type='button'
					data-bs-toggle='collapse'
					data-bs-target='#navbarSupportedContent'
					aria-controls='navbarSupportedContent'
					aria-expanded='false'
					aria-label='Toggle navigation'
				>
					<span class='navbar-toggler-icon'></span>
				</button>
					<a class='navbar-brand' href='/'>Tienda</a>
				<div
					class='collapse navbar-collapse'
					id='navbarSupportedContent'
				>
					<ul class='navbar-nav ms-auto mb-2 mb-lg-0'>
						{{#if user}}
							<li class='nav-item'>
								<a
									class='nav-link active'
									aria-current='page'
									href='#'
								>
									<img
										src='{{user.img}}'
										class='img-fluid'
										style='border-radius: 50%; max-height: 30px;'
									/>
									{{user.first_name}}</a>
							</li>
							<li class='nav-item'>
								<form action='/api/users/logout' method='post'>
									<button
										class='btn btn-outline-danger'
										type='submit'
									>
										Cerrar Sesión
									</button>
								</form>
							</li>
						{{/if}}
					</ul>

				</div>
			</div>
		</nav>
<section class='container'>
	<div class='row bg-light login-section'>
		<div class='col-4'>
			<img src='{{user.img}}' alt='logo' class='img-fluid' />
		</div>
		<div class='col-8' style='padding: 50px 20px;'>
			<h1>Hola, {{user.first_name}} {{user.last_name}}</h1>

			<p>No te olvides de tus datos!!</p>

			<ul>
				<li><b>Nombre: </b>{{user.first_name}}</li>
				<li><b>Apellido: </b>{{user.last_name}}</li>
				<li><b>Correo: </b>{{user.email}}</li>
				<li><b>Rol: </b>{{user.role}}</li>

			</ul>
		</div>
	</div>
</section>